extends ../components/layout/template.pug
include ../components/navbar/mixin.pug
include ../components/breadcrumb/mixin.pug

block head
	title Payment: #{id}

block header
	h1 Payment for #{receiver}
	+navbar
	+breadcrumb
		+navitem("/payments", "Payments")
		+navitem("/payments/" + id, "Payment for " + receiver, true)

block content
	h2 Payment Details
	dl
		dt Receiver
		dd=receiver
		dt Type
		dd=type
		if type === "IBAN"
			dt IBAN
			dd=value
		else if type === "Credit Card"
			dt Credit Card Number
			dd=value
			dt Expiry
			dd=expiryMonth + "/" + expiryYear
