extends layout

block content
	section(class="books")
		h1 Bücher
		ul
			each book in books
				li(class="book")
					dl
						div(class="title")
							dt Titel
							dd=book.title
						div(class="author")
							dt Autor
							dd=book.author
						div(class="rating", style="--rating: " + book.rating + ";")
							dt Bewertung
							dd=book.formattedRating
						if book.discountedPrice
							div(class="discountedPrice")
								dt Preis
								dd
									ins=book.discountedPrice
							div(class="originalPrice")
								dt Originalpreis
								dd
									del=book.formattedPrice
						else if book.price
							div(class="price")
								dt Preis
								dd=book.formattedPrice
						div(class="isbn")
							dt ISBN
							dd=book.isbn
	section(class="create-book")
		h2 Erstelle ein neues Buch
		if (hasErrors)
			p(id="errors", class="errors")
				Bitte korrigieren Sie die angegeben Fehlern!
		form(action="/", method="post", is="form-validator", data-validation-uri="/validate-book")
			label(for="title")
				| Titel
				small(class="error", id="error-title", aria-live="polite")=fields.title.error
			input(id="title", name="title", type="text",
				aria-invalid=fields.title.error ? "true" : "false",
				value=fields.title.value,
				required)
			label(for="author")
				| Autor
				small(class="error", id="error-author")=fields.author.error
			input(id="author", name="author", type="text",
				aria-invalid=fields.author.error ? "true" : "false",
				value=fields.author.value,
				required)
			label(for="price")
				| Preis in EUR
				small(class="error", id="error-price", aria-live="polite")=fields.price.error
			input(id="price", name="price", type="number", min="0.01", step="any"
				aria-invalid=fields.price.error ? "true" : "false",
				value=fields.price.value,
				required)
			label(for="discount")
				| Rabatt (optional)
				small(class="error", id="error-discount", aria-live="polite")=fields.discount.error
			input(id="discount", name="discount", type="number", step="any", min="0", max="100"
				aria-invalid=fields.discount.error ? "true" : "false",
				value=fields.discount.value)
			label(for="isbn")
				| ISBN
				small 10 oder 13 stellige internationale Standardbuchnummer
				small(class="error", aria-live="polite")=fields.isbn.error
			input(id="isbn", name="isbn", type="text",
				aria-invalid=fields.isbn.error ? "true" : "false",
				value=fields.isbn.value,
				required)
			button(aria-describedby=hasErrors ? "errors" : null) Buch erstellen
