mixin radio-group(name, label, value, checked, required)
	div(class="radio-group")
		input(id=name + (value || label), name=name, type="radio", value=value, checked=checked, required=required)
		label(for=name + (value || label))=label
